#logo_title {
    color: #fff;
    letter-spacing: -1px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 1px 0 10px #353434;
}
@media (max-width: 500px) {
    .list_menu{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 500px) {
    #logo_title {
        margin-left: 2rem
    }
    .list_menu{
        margin-left: 2rem;
    }
}
a {
    color: #8e8e8e;
    font-size: .9rem;
}

.top_menu {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #c6c9cc;
}

.list_menu:hover {
    cursor: pointer;
    color: #c6c9cc;
}

.active_link {
    color: #ced1d6;
}

.menu_block {
    position: absolute;
    bottom: 0;
    left: 15%;
}
#logo{
    padding-bottom: .5rem;
    margin-left: .15rem;
    width: 1.7rem;
}