@media (max-width: 500px) {
    .table_head {
        padding-left: .1rem!important;
        padding-right: .1rem!important;
        font-size: .7rem!important;
    }

    .table_cell {
        font-size: .7rem!important;
        padding-left: .1rem!important;
        padding-right: .1rem!important;
    }
}