@media (min-width: 500px) {
    .input_div {
        min-width: 35rem;
        padding-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}
.uppercase {
    text-transform: uppercase;
}
.text_gray_700 {
    --tw-text-opacity: 1;
    color: rgba(55,65,81,var(--tw-text-opacity));
}
.text_left {
    text-align: left;
}
.text_lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.font_bold {
    font-weight: 700;
}
@media (min-width: 500px) {
    .text_finder_list {
        width: 40rem;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 500px) {
    .text_finder_list {
        font-size: 1rem;
        list-style-type: none;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
ol li{
    position: relative;
}
.list_numbers{
    display: inline-block;
    position: absolute;
    top: 0;
    left: -60px;
    width: 50px;
    color: #74a0d0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
@media (max-width: 500px) {
    .list_numbers {
        font-size: 35px;
    }
}
.main_title {
    font-size: 1.5rem;
}
.no_shadow_btn:focus {
    outline: none!important;
    border: 0;
    box-shadow: none;
}
.no_shadow_input:focus {
    outline: none!important;
    border-color: #97a1ab;
    box-shadow: none;
}
.input_code{
    max-width: 20rem;
}
.search_btn{
    background-color: #22506b;
    border-color: #22506b;
}
.error_message{
    text-align: center;
    color: red;
    font-size: 1.3rem;
}