.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 7px rgb(64 60 67);
  background-color: #282c34;
  min-height: 7vh;
  min-width: 360px;
  color: white;
  position: relative;
}