@media (min-width: 500px) {
    .input_url {
        margin-bottom: 2rem;
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
    .text_lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .image_finder_list {
        margin-top: 5rem;
        margin-right: 2rem;
        margin-left: 5rem;
        list-style-type: none;

    }
    .list_numbers {
        display: inline-block;
        position: absolute;
        top: 0;
        left: -60px;
        width: 50px;
        color: #74a0d0;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
}
@media (max-width: 500px) {
    .text_lg {
        font-size: .8rem;
        line-height: 1.2rem;
    }
    .input_url {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;
    }
    .image_finder_list {
        margin-right: 1rem;
        list-style-type: none;

    }
    .list_numbers {
        display: inline-block;
        position: absolute;
        top: 0;
        left: -45px;
        width: 50px;
        color: #74a0d0;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }
}
.main_title {
    font-size: 1.5rem;
    text-align: center;
}
.no_shadow_btn{
    background-color: #3b638e;
    border-color: #3b638e;
}
.no_shadow_btn:focus {
    outline: none!important;
    border: 0;
    box-shadow: none;
}
.no_shadow_input:focus {
    outline: none!important;
    border-color: #97a1ab;
    box-shadow: none;
}
.uppercase {
    text-transform: uppercase;
}
.text_gray_700 {
    --tw-text-opacity: 1;
    color: rgba(55,65,81,var(--tw-text-opacity));
}
.text_left {
    text-align: left;
}
.font_bold {
    font-weight: 700;
}
ol li{
    position: relative;
}
.url_error{
    color: red;
}