.dropzone:focus {
    border-color: #2196f3;
}

.dropzone {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-width: 2px;
    max-width: 20rem;
    min-height: 25rem;
    border-radius: 1rem;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}

p {
    margin-bottom: 0;
}

.image_icon {
    display: flex;
    justify-content: center;
}

.image_drag_error {
    color: #ff3333;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
@media (min-width: 500px) {
    .input_section {
        width: 60%;
        margin-left: 10rem;
    }
}
@media (max-width: 500px) {
    .input_section {
        margin-left: .1rem;
    }
}