.input_url {
    margin-bottom: 2rem;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.main_title {
    font-size: 1.5rem;
}
.no_shadow_btn:focus {
    outline: none!important;
    border: 0;
    box-shadow: none;
}
.no_shadow_input:focus {
    outline: none!important;
    border-color: #97a1ab;
    box-shadow: none;
}